{
    "openapi": "3.0.3",
    "info": {
        "title": "Crunchbase Enterprise API",
        "description": "Crunchbase Enterprise API, 2021-07-16",
        "version": "1.0.3",
        "termsOfService": "https://data.crunchbase.com/docs/terms"
    },
    "servers": [{ "url": "https://api.crunchbase.com/api/v4" }],
    "externalDocs": {
        "url": "https://data.crunchbase.com/docs",
        "description": "API Reference doc"
    },
    "security": [{ "ApiKeyAuthHeader": [] }],
    "tags": [
        { "name": "Autocomplete" },
        { "name": "Deleted Entities" },
        { "name": "Entity" },
        { "name": "Search" }
    ],
    "paths": {
        "/autocompletes": {
            "get": {
                "summary": "Suggests matching Identifier entities based on the query and entity_def_ids provided.",
                "tags": ["Autocomplete"],
                "parameters": [
                    {
                        "name": "query",
                        "description": "Value to perform the autocomplete search with.",
                        "in": "query",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "collection_ids",
                        "description": "A comma separated list of collection ids to search against. Leaving this blank means it will search across\nall identifiers. Entity defs can be constrained to specific facets by providing them as facet collections.\nRelationship collections will resolve to their underlying entity def. \\\nCollection ids are: organizations, people, funding_rounds, acquisitions, investments, events,\npress_references, funds, event_appearances, ipos, ownerships, categories, category_groups, locations, jobs\n",
                        "in": "query",
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "limit",
                        "description": "Number of results to retrieve; default = 10, max = 25",
                        "in": "query",
                        "schema": { "type": "integer" }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AutocompleteResult"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/deleted_entities": {
            "get": {
                "summary": "Retrieve deleted entities",
                "tags": ["Deleted Entities"],
                "parameters": [
                    {
                        "name": "collection_ids",
                        "description": "Filter by collection id(s). Comma separated list of collection ids.\\\nE.g. organizations, people, funding_rounds, acquisitions, investments, events, press_references, funds,\nevent_appearances, ipos, ownerships, categories, category_groups, locations, jobs\n",
                        "in": "query",
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "before_id",
                        "description": "Used to paginate search results to the previous page. before_id should be the uuid of the first item in\nthe current page. May not be provided simultaneously with after_id.\n",
                        "in": "query",
                        "schema": { "type": "string", "format": "uuid" }
                    },
                    {
                        "name": "after_id",
                        "description": "Used to paginate search results to the next page. after_id should be the uuid of the last item in\nthe current page. May not be provided simultaneously with before_id.\n",
                        "in": "query",
                        "schema": { "type": "string", "format": "uuid" }
                    },
                    {
                        "name": "limit",
                        "description": "Number of rows to return. Default is 100, min is 1, max is 2000.",
                        "in": "query",
                        "schema": { "type": "integer" }
                    },
                    {
                        "name": "deleted_at_order",
                        "description": "Direction of sorting by deleted_at property",
                        "in": "query",
                        "schema": { "type": "string", "enum": ["asc", "desc"] }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DeletedEntitiesResult"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/deleted_entities/{collection_id}": {
            "get": {
                "summary": "Retrieve deleted entities for a collection id",
                "tags": ["Deleted Entities"],
                "parameters": [
                    {
                        "name": "collection_id",
                        "description": "Filter by collection id. E.g. organizations, people, funding_rounds, acquisitions, investments, events,\npress_references, funds, event_appearances, ipos, ownerships, categories, category_groups, locations, jobs\n",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "before_id",
                        "description": "Used to paginate search results to the previous page. before_id should be the uuid of the first item in\nthe current page. May not be provided simultaneously with after_id.\n",
                        "in": "query",
                        "schema": { "type": "string", "format": "uuid" }
                    },
                    {
                        "name": "after_id",
                        "description": "Used to paginate search results to the next page. after_id should be the uuid of the last item in\nthe current page. May not be provided simultaneously with before_id.\n",
                        "in": "query",
                        "schema": { "type": "string", "format": "uuid" }
                    },
                    {
                        "name": "limit",
                        "description": "Number of rows to return. Default is 100, min is 1, max is 2000.",
                        "in": "query",
                        "schema": { "type": "integer" }
                    },
                    {
                        "name": "deleted_at_order",
                        "description": "Direction of sorting by deleted_at property",
                        "in": "query",
                        "schema": { "type": "string", "enum": ["asc", "desc"] }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DeletedEntitiesResult"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/organizations": {
            "post": {
                "summary": "Search Organization Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Companies in Europe with funding total between 25m and 100m USD",
                                    "value": {
                                        "field_ids": [
                                            "identifier",
                                            "categories",
                                            "location_identifiers",
                                            "short_description",
                                            "rank_org"
                                        ],
                                        "order": [
                                            {
                                                "field_id": "rank_org",
                                                "sort": "asc"
                                            }
                                        ],
                                        "query": [
                                            {
                                                "type": "predicate",
                                                "field_id": "funding_total",
                                                "operator_id": "between",
                                                "values": [
                                                    {
                                                        "value": 25000000,
                                                        "currency": "usd"
                                                    },
                                                    {
                                                        "value": 100000000,
                                                        "currency": "usd"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "predicate",
                                                "field_id": "location_identifiers",
                                                "operator_id": "includes",
                                                "values": [
                                                    "6106f5dc-823e-5da8-40d7-51612c0b2c4e"
                                                ]
                                            },
                                            {
                                                "type": "predicate",
                                                "field_id": "facet_ids",
                                                "operator_id": "includes",
                                                "values": ["company"]
                                            }
                                        ],
                                        "limit": 50
                                    }
                                },
                                "example2": {
                                    "summary": "Biotech companies with number of employees between 101 and 250",
                                    "value": {
                                        "field_ids": [
                                            "identifier",
                                            "categories",
                                            "location_identifiers",
                                            "short_description",
                                            "rank_org"
                                        ],
                                        "order": [
                                            {
                                                "field_id": "rank_org",
                                                "sort": "asc"
                                            }
                                        ],
                                        "query": [
                                            {
                                                "type": "predicate",
                                                "field_id": "num_employees_enum",
                                                "operator_id": "includes",
                                                "values": ["c_00101_00250"]
                                            },
                                            {
                                                "type": "predicate",
                                                "field_id": "categories",
                                                "operator_id": "includes",
                                                "values": [
                                                    "58842728-7ab9-5bd1-bb67-e8e55f6520a0"
                                                ]
                                            }
                                        ],
                                        "limit": 50
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OrganizationSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/organizations/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Organization: [acquiree_acquisitions, acquirer_acquisitions, child_organizations, child_ownerships, event_appearances, fields, founders, headquarters_address, investors, ipos, jobs, key_employee_changes, layoffs, parent_organization, parent_ownership, participated_funding_rounds, participated_funds, participated_investments, press_references, raised_funding_rounds, raised_funds, raised_investments]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Organization",
                "responses": {
                    "200": {
                        "description": "Single Organization result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationEntity"
                                },
                                "examples": {
                                    "example": {
                                        "$ref": "#/components/examples/OrganizationLookupResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/organizations/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Organization's single card",
                "responses": {
                    "200": {
                        "description": "Single Organization with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationEntity"
                                },
                                "examples": {
                                    "example": {
                                        "$ref": "#/components/examples/OrganizationCardLookupResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/people": {
            "post": {
                "summary": "Search Person Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/PersonSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/people/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Person: [degrees, event_appearances, fields, founded_organizations, jobs, participated_funding_rounds, participated_funds, participated_investments, partner_funding_rounds, partner_investments, press_references, primary_job, primary_organization]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Person",
                "responses": {
                    "200": {
                        "description": "Single Person result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/people/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Person's single card",
                "responses": {
                    "200": {
                        "description": "Single Person with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/funding_rounds": {
            "post": {
                "summary": "Search Funding Round Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/FundingRoundSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/funding_rounds/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Funding Round: [fields, investments, investors, lead_investors, organization, partners, press_references]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Funding Round",
                "responses": {
                    "200": {
                        "description": "Single Funding Round result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundingRoundEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/funding_rounds/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Funding Round's single card",
                "responses": {
                    "200": {
                        "description": "Single Funding Round with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundingRoundEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/acquisitions": {
            "post": {
                "summary": "Search Acquisition Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AcquisitionSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/acquisitions/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Acquisition: [acquiree_organization, acquirer_organization, fields, press_references]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Acquisition",
                "responses": {
                    "200": {
                        "description": "Single Acquisition result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcquisitionEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/acquisitions/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Acquisition's single card",
                "responses": {
                    "200": {
                        "description": "Single Acquisition with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcquisitionEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/investments": {
            "post": {
                "summary": "Search Investment Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/InvestmentSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/investments/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Investment: [fields, funding_round, investor, organization, partner]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Investment",
                "responses": {
                    "200": {
                        "description": "Single Investment result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvestmentEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/investments/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Investment's single card",
                "responses": {
                    "200": {
                        "description": "Single Investment with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvestmentEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/events": {
            "post": {
                "summary": "Search Event Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/EventSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/events/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Event: [address, appearances, contestants, exhibitors, fields, organizers, press_references, speakers, sponsors]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Event",
                "responses": {
                    "200": {
                        "description": "Single Event result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/events/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Event's single card",
                "responses": {
                    "200": {
                        "description": "Single Event with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/press_references": {
            "post": {
                "summary": "Search Press Reference Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/PressReferenceSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/press_references/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Press Reference: [fields]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Press Reference",
                "responses": {
                    "200": {
                        "description": "Single Press Reference result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PressReferenceEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/press_references/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Press Reference's single card",
                "responses": {
                    "200": {
                        "description": "Single Press Reference with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PressReferenceEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/funds": {
            "post": {
                "summary": "Search Fund Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/FundSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/funds/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Fund: [fields, investors, owner, press_references]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Fund",
                "responses": {
                    "200": {
                        "description": "Single Fund result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/funds/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Fund's single card",
                "responses": {
                    "200": {
                        "description": "Single Fund with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/event_appearances": {
            "post": {
                "summary": "Search Event Appearance Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/EventAppearanceSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/event_appearances/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Event Appearance: [event, fields, participant]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Event Appearance",
                "responses": {
                    "200": {
                        "description": "Single Event Appearance result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventAppearanceEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/event_appearances/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Event Appearance's single card",
                "responses": {
                    "200": {
                        "description": "Single Event Appearance with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventAppearanceEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/ipos": {
            "post": {
                "summary": "Search Ipo Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/IpoSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/ipos/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Ipo: [fields, organization, press_references]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Ipo",
                "responses": {
                    "200": {
                        "description": "Single Ipo result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IpoEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/ipos/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Ipo's single card",
                "responses": {
                    "200": {
                        "description": "Single Ipo with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IpoEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/ownerships": {
            "post": {
                "summary": "Search Ownership Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OwnershipSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/ownerships/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Ownership: [child_organization, fields, parent_organization, press_references]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Ownership",
                "responses": {
                    "200": {
                        "description": "Single Ownership result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OwnershipEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/ownerships/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Ownership's single card",
                "responses": {
                    "200": {
                        "description": "Single Ownership with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OwnershipEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/categories": {
            "post": {
                "summary": "Search Category Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CategorySearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/categories/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Category: [fields]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Category",
                "responses": {
                    "200": {
                        "description": "Single Category result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/categories/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Category's single card",
                "responses": {
                    "200": {
                        "description": "Single Category with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/category_groups": {
            "post": {
                "summary": "Search Category Group Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CategoryGroupSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/category_groups/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Category Group: [fields]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Category Group",
                "responses": {
                    "200": {
                        "description": "Single Category Group result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryGroupEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/category_groups/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Category Group's single card",
                "responses": {
                    "200": {
                        "description": "Single Category Group with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryGroupEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/locations": {
            "post": {
                "summary": "Search Location Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/LocationSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/locations/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Location: [fields]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Location",
                "responses": {
                    "200": {
                        "description": "Single Location result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/locations/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Location's single card",
                "responses": {
                    "200": {
                        "description": "Single Location with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/jobs": {
            "post": {
                "summary": "Search Job Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/JobSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/jobs/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Job: [fields, organization, person]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Job",
                "responses": {
                    "200": {
                        "description": "Single Job result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/jobs/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Job's single card",
                "responses": {
                    "200": {
                        "description": "Single Job with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/key_employee_changes": {
            "post": {
                "summary": "Search Key Employee Change Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/KeyEmployeeChangeSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/layoffs": {
            "post": {
                "summary": "Search Layoff Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/LayoffSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/addresses": {
            "post": {
                "summary": "Search Address Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AddressSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/addresses/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Address: [event, fields, organization]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup an Address",
                "responses": {
                    "200": {
                        "description": "Single Address result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/addresses/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Address's single card",
                "responses": {
                    "200": {
                        "description": "Single Address with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/degrees": {
            "post": {
                "summary": "Search Degree Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DegreeSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/degrees/{entity_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/fieldIdsParam" },
                {
                    "name": "card_ids",
                    "description": "Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\\\ Card Ids for Degree: [fields, organization, person]\n",
                    "in": "query",
                    "schema": { "type": "string" }
                }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup a Degree",
                "responses": {
                    "200": {
                        "description": "Single Degree result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DegreeEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/entities/degrees/{entity_id}/cards/{card_id}": {
            "parameters": [
                { "$ref": "#/components/parameters/entityIdParam" },
                { "$ref": "#/components/parameters/cardIdParam" },
                { "$ref": "#/components/parameters/cardFieldIdsParam" },
                { "$ref": "#/components/parameters/afterIdParam" },
                { "$ref": "#/components/parameters/beforeIdParam" },
                { "$ref": "#/components/parameters/orderParam" },
                { "$ref": "#/components/parameters/limitParam" }
            ],
            "get": {
                "tags": ["Entity"],
                "summary": "Lookup Degree's single card",
                "responses": {
                    "200": {
                        "description": "Single Degree with one card result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DegreeEntity"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        },
        "/searches/principals": {
            "post": {
                "summary": "Search Principal Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "tags": ["Search"],
                "requestBody": {
                    "description": "Search Query Parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/PrincipalSearchResults"
                    },
                    "400": {
                        "$ref": "#/components/responses/GenericBadRequestError"
                    },
                    "404": {
                        "$ref": "#/components/responses/GenericNotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/GenericInternalServerError"
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "entityIdParam": {
                "name": "entity_id",
                "description": "UUID or permalink of desired entity",
                "in": "path",
                "required": true,
                "schema": { "type": "string" }
            },
            "fieldIdsParam": {
                "name": "field_ids",
                "description": "Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string",
                "in": "query",
                "schema": { "type": "string" }
            },
            "cardFieldIdsParam": {
                "name": "card_field_ids",
                "description": "Card fields to include on the specified card - array of field_id strings in JSON encoded as string",
                "in": "query",
                "schema": { "type": "string" }
            },
            "cardIdsParam": {
                "name": "card_ids",
                "description": "Cards to include on the resulting entity - either an array of card_id strings in JSON or a comma-separated list encoded as string",
                "in": "query",
                "schema": { "type": "string" }
            },
            "cardIdParam": {
                "name": "card_id",
                "description": "A card to include on the resulting entity",
                "in": "path",
                "required": true,
                "schema": { "type": "string" }
            },
            "afterIdParam": {
                "name": "after_id",
                "description": "Lookup uuid of the last item in the previous page (not required for first page). Used to iterate a card's\nresults starting at the beginning of the ordered set and moving forward. Suitable for implementing \"next page\"\nfunctionality. May not be provided simultaneously with before_id.\n",
                "in": "query",
                "schema": { "type": "string", "format": "uuid" }
            },
            "beforeIdParam": {
                "name": "before_id",
                "description": "Lookup uuid of the first item in the previous page (not required for first page). Used to iterate a card's\nresults starting at the end of the ordered set and moving backward. Suitable for implementing \"previous page\"\nfunctionality. May not be provided simultaneously with after_id.\n",
                "in": "query",
                "schema": { "type": "string", "format": "uuid" }
            },
            "orderParam": {
                "name": "order",
                "description": "Field name with order direction (asc/desc)",
                "in": "query",
                "schema": { "type": "string" }
            },
            "limitParam": {
                "name": "limit",
                "description": "Number of rows to return. Default is 100, min is 1, max is 100.",
                "in": "query",
                "schema": { "type": "integer" }
            }
        },
        "examples": {
            "OrganizationLookupResponseExample": {
                "value": {
                    "properties": {
                        "identifier": {
                            "uuid": "1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0",
                            "value": "goBaby",
                            "image_id": "v1485305805/htbednnsfgdbm8zhd0zp.png",
                            "permalink": "gobaby-2",
                            "entity_def_id": "organization"
                        }
                    },
                    "cards": {
                        "press_references": [
                            {
                                "identifier": {
                                    "uuid": "89016b44-5723-4486-b102-5dd697bfa16e",
                                    "value": "The Global Association of Baby Equipment Rental Companies Partners with goBaby\n",
                                    "entity_def_id": "press_reference"
                                },
                                "url": {
                                    "value": "http://www.prweb.com/releases/2018/02/prweb15165216.htm\n"
                                },
                                "posted_on": "2018-02-06",
                                "publisher": "PRWeb",
                                "created_at": "2018-02-06T19:02:54Z",
                                "updated_at": "2018-02-13T00:24:54Z"
                            },
                            {
                                "author": "Tishin Donkersley",
                                "identifier": {
                                    "uuid": "33539065-4f21-469c-8f00-607c705be105",
                                    "value": "Travel Made Easier with GoBaby, the Airbnb for Baby Gear",
                                    "entity_def_id": "press_reference"
                                },
                                "url": {
                                    "value": "https://tech.co/travel-easier-gobaby-airbnb-baby-gear-2017-11"
                                },
                                "posted_on": "2017-11-16",
                                "publisher": "Tech Cocktail",
                                "thumbnail_url": "https://tech.co/wp-content/uploads/2017/11/pexels-photo-265987-baby-e1510847602971.jpeg",
                                "created_at": "2017-11-17T02:19:53Z",
                                "updated_at": "2018-02-13T00:06:39Z"
                            },
                            {
                                "author": "Dave Baldwin",
                                "identifier": {
                                    "uuid": "234383e5-2f1d-43dc-8b56-2ab389429ace",
                                    "value": "7 Apps to Save Mad Money on Toys, Kids’ Clothes, and Baby Gear",
                                    "entity_def_id": "press_reference"
                                },
                                "url": {
                                    "value": "https://www.fatherly.com/gear/apps-to-save-money-on-toys-kids-clothing-and-baby-gear/\n"
                                },
[...]
